<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magicalrice.project.library_third_external">

    <application>
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>
</manifest>
